	<ion-view view-title="&lt;img src=&quot;data/images/icon/icon(1).png&quot; class=&quot;page-logo&quot; /&gt; ⠀⠀" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class="dashboard page-dashboard">
		<div class="slide-box-hero">
		<ion-slides class="slide-box-hero-content" options="{slidesPerView:1,autoplay:10000,loop:1}" slider="data.slider">
			<ion-slide-page>
				<img ng-src="http://beliaccessories.com/apps/gsja_tesalonika/img/header.jpg" class="" />
			</ion-slide-page>
		<ion-slide-page>
				<img ng-src="http://beliaccessories.com/apps/gsja_tesalonika/img/header2.jpg" class="" />
			</ion-slide-page>
        		<ion-slide-page>
				<img ng-src="http://beliaccessories.com/apps/gsja_tesalonika/img/header3.jpg" class="" />
			</ion-slide-page>
          		<ion-slide-page>
				<img ng-src="http://beliaccessories.com/apps/gsja_tesalonika/img/header4.jpg" class="" />
			</ion-slide-page>

  
		</ion-slides>
	</div>
		<div class="dashboard-panel">
 

			<!--			<div class="item item-title item-calm no-border">Membership</div> row -->

			<!-- row -->
			<div class="row">
				<a nav-transition="ios" id="menu-box-dc7571e236d2033b3a526576caca02cf7a57cffc" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/menu_1" >
					<i class="icon ion-social-buffer" ></i>
					<p>Visi & Misi</p>
				</a>
				<a id="menu-box-4e082aa863cd8f4969fe5adce92b2d952e1cacc3" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/englishservice" >
					<i class="icon ion-clipboard" ></i>
					<p>English Service</p>
				</a>
              				<a id="menu-box-4e082aa863cd8f4969fe5adce92b2d952e1cacc3" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/youthservice" >
					<i class="icon ion-clipboard" ></i>
					<p>Youth Service</p>
				</a>
			</div>
			<!-- ./row -->
			<div class="item item-title item-calm no-border">Media</div>
			<!-- row -->
			<div class="row">
				<a id="menu-box-ff4fc0276e960c348647b647235f68200887c9d2" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/radio" >
					<i class="icon ion-android-person" ></i>
					<p>Radio</p>
				</a>
              <a id="menu-box-ff4fc0276e960c348647b647235f68200887c9d2" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/video" >
					<i class="icon ion-android-person" ></i>
					<p>Video</p>
				</a>
              	<a id="menu-box-ff4fc0276e960c348647b647235f68200887c9d2" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/gallery" >
					<i class="icon ion-android-person" ></i>
					<p>Gallery</p>
				</a><br/>

			</div>
          	<div class="row">
              <a id="menu-box-ff4fc0276e960c348647b647235f68200887c9d2" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/renungan" >
					<i class="icon ion-android-person" ></i>
					<p>Renungan</p>
				</a>
          </div>
			<!-- ./row -->
			<div class="item item-title item-calm no-border">Service</div>
			<!-- row -->
			<div class="row">
				<!--<a id="menu-box-1fe55d1a8ba79dc28e552920ffc8d42fe795969d" class="col-33 calm-bg transparent ink" ng-click="openURL('market://details?id=com.imabuilder.abbayosuadesign.gsjatesalonikaapp')" >
					<i class="icon ion-android-playstore" ></i>
					<p>Rate This App</p>
				</a>-->
				<a id="menu-box-b790fad80a9b2886441e765962de0a139a6300b2" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/sunday_school" >
					<i class="icon ion-ios-help" ></i>
					<p>Sunday School</p>
				</a>
				<a id="menu-box-c887b9d3b3905e1e3eb236a1e334ca966299726f" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/kka" >
					<i class="icon ion-help-buoy" ></i>
					<p>KKA</p>
				</a>
              	<a id="menu-box-c887b9d3b3905e1e3eb236a1e334ca966299726f" class="col-33 calm-bg transparent ink"  ng-href="#/gsja_tesalonika_app/young_adults" >
					<i class="icon ion-help-buoy" ></i>
					<p>Young Adults</p>
				</a>
			</div>
			<!-- ./row -->
			
<br/><br/><br/>
		</ion-content>
		<!-- ./content -->
	</ion-view>
