	<ion-view view-title=" About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class=" page-about_us">
		<div class="padding scroll">

    <div class="padding about-us-box">
        <h2>GSJA Tesalonika</h2>
        <div>
            Aplikasi GSJA Tesalonika
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about-us-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://id-id.facebook.com/GSJATesalonikaBatam/')" >
        <i class="positive icon ion-social-facebook"></i>
        Like GSJA Tesalonika on Facebook
      </a>
            
       <a class="item item-icon-left" ng-click="openURL('mail://abbasiagian@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        <b>Powered By CreativeCode.Design</b><br/>
         <i>Click here for any inquiries</i>
        <p>
            Email: abbasiagian@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
