	<ion-view view-title="&lt;img src=&quot;data/images/icon/logo gsja.png&quot; class=&quot;page-logo&quot; /&gt; ⠀⠀⠀⠀" hide-nav-bar="true" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll scroll="true"  overflow-scroll="true"   id="page-welcome" class="fullscreen page-welcome">
		<ion-slide-box show-pager="true" auto-play="true" pager-click="true" >
	<ion-slide style="background: #999 url('data/images/background/190629-003244.png')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
			<div class="padding light dark-bg" style="opacity:0.8;margin-top:80px">
				<h4>Selamat Datang!</h4>
				<p>Terima kasih sudah Mengunduh Aplikasi GSJA Tesalonika</p>
			</div>
            <div class="padding">
                <a class="button button-full button-assertive ink" ui-sref="gsja_tesalonika_app.form_user">Daftar Disini</a>
                <a class="button button-full button-calm ink" ui-sref="gsja_tesalonika_app.form_login">Login Disini</a>
            </div>

		</div>
	</ion-slide>
	<ion-slide style="background: #999 url('data/images/background/bg10.jpg')  no-repeat center center fixed;;background-size:cover;width:100%;height:100%;background-color:#ddd;" >
		<div class="padding text-center light">
			<div class="padding light dark-bg" style="opacity:0.8;margin-top:80px">
				<h4>Mudahnya Mengakses Informasi</h4>
				<p>Dengan Aplikasi ini, anda dapat melihat informasi terbaru serta Video & Renungan dari GSJA Tesalonika</p>
			</div>
            <div class="padding">
                <a class="button button-full button-assertive ink" ui-sref="gsja_tesalonika_app.form_user">Daftar Disini</a>
                <a class="button button-full button-calm ink" ui-sref="gsja_tesalonika_app.form_login">Login Disini</a>
            </div>

		</div>
	</ion-slide>
</ion-slide-box>

		</ion-content>
		<!-- ./content -->
	</ion-view>
